<!DOCTYPE html>
<html>

<head>
    <!-- title -->
    <title>My Chat App</title>
    <!-- import JS -->
    <script type="module" src="./chat.js"></script>
    <!-- import CSS -->
    <link rel="stylesheet" href="./style.css" />
</head>

<body>
    <!-- show nothing if screen is too wide -->
    <!-- <div id="error-screen">
        <p>This app is not developed for widescreen users. Please reduce the width.</p>
    </div> -->

    <!-- chat app -->
    <div id="app">
        <!-- log in -->
        <h1>
            Welcome {{ myUsername }}!
            <button @click="$gf.toggleLogIn">{{ $gf.me? 'Log Out' : 'Log In' }}</button>
        </h1>

        <!-- show the rest of the app if logged in -->
        <template v-if="$gf.me">
            <!-- main menu -->
            <div v-if="screen === 'mainMenu'">
                <!-- center block -->
                <div class="middle-block">
                    <!-- header -->
                    <h2>My Channels</h2>

                    <!-- default channels -->
                    <section class="channel-list-item navigator" v-for="ch of defaultChannels"
                        @click="enterChannel(ch)">
                        <span>{{ ch }}</span>
                    </section>

                    <!-- one entry for each channel -->
                    <section class="channel-list-item navigator" v-for="ch of savedChannels"
                        @click="enterChannel(ch.content)">
                        <span>{{ ch.content }}</span>
                        <button @click.stop="removeChannel(ch)">Delete</button>
                    </section>

                    <!-- add channel -->
                    <section class="channel-list-item">
                        <span v-if="!addingChannel">
                            <!-- add channel button -->
                            <button @click="startAddChannel">Add new channel</button>
                        </span>

                        <!-- add form -->
                        <form v-else @submit.prevent="addChannel">
                            <input v-model="preferredChannel" />
                            <input type="submit" value="Add" :disabled="!preferredChannel" />
                            <button @click="cancelAddChannel()">Cancel</button>
                        </form>
                    </section>
                </div>

                <!-- bottom block -->
                <div class="bottom-bar tabs">
                    <div class="center tab">
                        <p class="clicked">Channels</p>
                    </div>
                    <div class="center tab">
                        <p class="navigator" @click="toProfile()">Profile</p>
                    </div>
                </div>
            </div>

            <div v-if="screen === 'profile'">
                <!-- top block -->
                <div class="top-bar">
                    <!-- set username -->
                    <p>
                    <form @submit.prevent="setUsername">
                        <input v-model="preferredUsername" placeholder="Choose a username..." />
                        <input type="submit" value="Set Username" />
                    </form>
                    {{ usernameResult }}
                    </p>

                    <!-- set profile name and picture -->
                    <p>
                        <span class="bold">My name is:</span>
                        <name :actor="$gf.me" :editable="true"></name>
                        <br>
                        <br>
                        <span class="bold">My Profile Picture Is:</span>
                        <profile-picture :actor="$gf.me" :editable="true"></profile-picture>
                    </p>
                </div>

                <!-- bottom block -->
                <div class="bottom-bar tabs">
                    <div class="center tab">
                        <p class="navigator" @click="toMainMenu()">Channels</p>
                    </div>
                    <div class="center tab">
                        <p class="clicked">Profile</p>
                    </div>
                </div>
            </div>

            <!-- channel description -->
            <div v-if="screen === 'description'">
                <!-- top block -->
                <div class="top-bar">
                    <p class="navigator bold" @click="toMainMenu()">
                        < Back</p>
                </div>

                <!-- center block -->
                <div class="middle-block">
                    <!-- channel name -->
                    <h2 class="center">{{ channel }}</h2>

                    <!-- chat button -->
                    <div class="center">
                        <button class="chat-button" @click="toChat()">Chat</button>
                    </div>

                    <!-- task list -->
                    <div class="tasks-container">
                        <!-- header -->
                        <h3 class="tasks-header">
                            <!-- title -->
                            Tasks
                            <!-- add task button -->
                            <button v-if="!addingTask" @click="startAddTask()">Add task</button>
                            <!-- add task form -->
                            <form v-else @submit.prevent="addTask">
                                <input v-model="preferredTask" />
                                <input type="submit" value="Add" :disabled="!preferredTask" />
                                <button @click="cancelAddTask()">Cancel</button>
                            </form>
                        </h3>

                        <!-- task list -->
                        <div class="tasks-list">
                            <section class="task channel-list-item" v-for="task in tasks">
                                <like :messageid="task.id"></like>
                                <span class="task-content">{{ task.content }}</span>
                                <button @click="removeTask(task)">Delete</button>
                            </section>
                        </div>
                    </div>
                </div>
            </div>

            <!-- chat -->
            <div v-if="screen === 'chat'">
                <!-- top block -->
                <div class="top-bar">
                    <p class="navigator bold" @click="toDescription()">
                        < Back</p>
                </div>

                <!-- center block -->
                <div class="middle-block">
                    <form @submit.prevent="sendMessage">
                        <input v-model="messageText" placeholder="Type a message..." />
                        <input type="file" accept="image/*" @change="onImageAttachment" />
                        <input type="submit" value="Send" />
                    </form>

                    <!-- List all the messages -->
                    <ul>
                        <li v-for="message of messages" :key="message.id">
                            <!-- Display and edit form if we're editing a message -->
                            <form v-if="editID==message.id" @submit.prevent="saveEditMessage(message)">
                                <input v-model="editText">
                                <input type="submit" value="Save" />
                            </form>

                            <!-- Otherwise, display a bunch of properties from the message -->
                            <ul v-else>
                                <li>
                                    Message: {{ message.content }}
                                </li>
                                <li>
                                    From Name: <name :actor="message.actor"></name>
                                </li>
                                <li>
                                    Profile Picture: <profile-picture :actor="message.actor"></profile-picture>
                                </li>
                                <li>
                                    From Username: {{ actorsToUsernames[message.actor] }}
                                </li>
                                <li>
                                    Published at Time: {{ message.published }}
                                </li>
                                <li>
                                    Last Edited at Time: {{ message.updated }}
                                </li>

                                <li v-if="message.attachment && message.attachment.magnet">
                                    <magnet-img :src="message.attachment.magnet"></magnet-img>
                                </li>

                                <template v-if="message.actor==$gf.me">
                                    <li>
                                        <button @click="removeMessage(message)">
                                            Delete Message
                                        </button>
                                    </li>
                                    <li>
                                        <button @click="startEditMessage(message)">
                                            Edit Message
                                        </button>
                                    </li>
                                </template>

                                <li>
                                    <replies :messageid="message.id"></replies>
                                </li>
                                <li>
                                    <read-receipts :messageid="message.id"></read-receipts>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </template>
    </div>

    <template id="name">
        <span v-if="!editing">
            <!-- display name -->
            {{ profile? profile.name : 'Anonymous' }}
            <!-- edit button -->
            <button v-if="editable" @click="editName">Edit Name</button>
        </span>

        <!-- edit form -->
        <form v-else @submit.prevent="saveName">
            <input v-model="editText" />
            <input type="submit" value="Save Name" />
        </form>
    </template>

    <template id="like">
        <span :class="{ 'complete-task': numLikes > 0, }">
            <button @click="toggleLike">
                {{ myLikes.length? 'Incomplete' : 'Complete' }}
            </button>
            <span class="complete-count">{{ numLikes }}</span>
            </span>
        </span>
    </template>

    <template id="profile-picture">
        <magnet-img class="profile-picture" :src="profile?profile.icon.magnet:anonymous"></magnet-img>

        <form v-if="editable" @submit.prevent="savePicture">
            <br>
            Choose a profile Picture:
            <input type="file" accept="image/*" @change="onPicture" />
            <input type="submit" value="Save" />
        </form>
    </template>

    <template id="replies">
        <form @submit.prevent="postReply">
            <input v-model="content" />
            <input type="submit" value="Reply" />
        </form>
        <ul>
            <li v-for="reply in replies" :key="reply.id">
                <name :actor="reply.actor"></name>:
                {{ reply.content }}
            </li>
        </ul>
    </template>

    <template id="read-receipts">
        Read By:
        <span v-for="actor in readActors">
            <name :actor="actor"></name>
        </span>
    </template>

</body>

</html>