/* width requirement */
/* @media (max-width: 600px) {
    #error-screen {
        display: none;
    }
} */

@media (min-width: 601px) {
    #app {
        max-width: 600px;
    }
}

/* background color start */

body {
    background-color: #EEDED5;
}

/* background color end */

/* minor common adjustments start */

.bold {
    font-weight: bold;
}


.center {
    display: flex;
    justify-content: center;
}

/* minor common adjustments end */

.top-bar+.middle-block,
.middle-block+.bottom-bar,
.top-bar+.bottom-bar {
    border-top: 1px solid;
}

.middle-block {
    padding-top: 8px;
    padding-bottom: 16px;
}

.tabs {
    display: flex;
    align-items: stretch;
}

.tab {
    margin-top: 8px;
    width: 50%;
}

.tab+.tab {
    border-left: 1px solid black;
}

.channel-list-item {
    /* padding */
    padding-top: 4px;
    padding-bottom: 4px;

    /* height */
    min-height: 32px;

    /* centering */
    display: flex;
    align-items: center;
}

.channel-list-item+.channel-list-item {
    border-top: 1px gray solid;
}

.channel-list-item span+button {
    margin-left: 8px;
}

.navigator {
    /* clickable */
    cursor: pointer;
}

.clicked {
    font-weight: bold;
}

.navigator:hover {
    color: maroon;
}

.chat-button {
    width: 90%;
    height: 5vh;
    cursor: pointer;

    background-color: #864397;
    border-radius: 25%;

    font-weight: bold;
    color: white;
}

.tasks-container {
    margin-left: 5%;
    margin-right: 5%;
}

.tasks-header {
    margin-bottom: 4px;
}

.tasks-list {
    border: 1px solid black;
    border-radius: 5%;

    padding-left: 8px;
    padding-right: 8px;
}

.task-content {
    margin-right: 8px;
}

.profile-picture {
    height: 32px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.complete-count {
    margin-left: 2px;
    margin-right: 8px;
}

.task:has(.complete-task) .task-content {
    text-decoration: line-through;
}

.task-content {
    font-style: italic;
}

.message-header {
    font-weight: bold;
}

.message-header .minor-info {
    font-weight: normal;
}

.bumping-stuff {
    margin-right: 4px;
}