<!DOCTYPE html>
<html>

<head>
  <script type="module" src="./chat.js"></script>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div id="app">
    <h1>
      My Cool Chat App
    </h1>

    <!-- Begin problem 3 solution -->
    <h2>
      Welcome {{myUsername}}
    </h2>
    <!-- End problem 3 solution -->

    <p>
      <button @click="$gf.toggleLogIn">
        {{ $gf.me? 'Log Out' : 'Log In' }}
      </button>
    </p>

    <!-- If we're not logged in, hide everything except the login button -->
    <template v-if="$gf.me">

      <!-- Begin Problem 1 Solution -->
      <p>
      <form @submit.prevent="setUsername">
        <input v-model="preferredUsername" placeholder="Choose a username..." />
        <input type="submit" value="Set Username" />
      </form>
      {{ usernameResult }}
      </p>
      <!-- End Problem 1 Solution -->

      <p>
        My Name Is: <name :actor="$gf.me" :editable="true"></name>
      </p>

      <p v-if="!privateMessaging">
        <label for="channel">
          Change the channel you're chatting in:
        </label>
        <template v-if="!addingChannel">
          <select v-model="channel">
            <option v-for="channel in savedChannels">{{ channel }}</option>
          </select>
          <button @click="startAddChannel()">Add channel</button>
        </template>
        <template v-else>
          <input id="channel" v-model="channel" />
          <button @click="addChannel()">Add</button>
          <button @click="cancelAddChannel()">Cancel</button>
        </template>
      </p>

      <!-- A form for sending messages -->
      <form @submit.prevent="sendMessage">
        <input v-model="messageText" placeholder="Type a message..." />
        <input type="file" accept="image/*" @change="onImageAttachment" />
        <input type="submit" value="Send" />
      </form>

      <ul>
        <!-- List all the messages -->
        <li v-for="message of messages" :key="message.id">
          <!-- Display and edit form if we're editing a message -->
          <form v-if="editID==message.id" @submit.prevent="saveEditMessage(message)">
            <input v-model="editText">
            <input type="submit" value="Save" />
            <button @click="cancelEditMessage()">Cancel</button>
          </form>

          <!-- Otherwise, display a bunch of properties from the message -->
          <div v-else>
            <p class="message-header">
              <name :actor="message.actor"></name> <span class="minor-info">({{ actorsToUsernames[message.actor]
                }})</span> said on <span class="minor-info">{{ message.published }}</span>:
            </p>

            <p>{{ message.content }}</p>

            <div v-if="message.attachment">
              <template v-if="message.attachment.magnet in imageDownloads">
                <img v-if="imageDownloads[message.attachment.magnet]"
                  :src="imageDownloads[message.attachment.magnet]" />
                <span v-else>
                  Image could not be downloaded!
                </span>
              </template>
              <template v-else>
                Loading image from {{ message.attachment.magnet }}
              </template>
            </div>

            <template v-if="message.updated!==message.published">
              <p>(edited on {{ message.updated }})</p>
            </template>

            <!-- Like, edit, delete -->
            <div>
              <like :messageid="message.id"></like>
              <template v-if="message.actor==$gf.me">
                <button @click="startEditMessage(message)">
                  Edit
                </button>
                <button @click="removeMessage(message)">
                  Delete
                </button>
              </template>
            </div>
          </div>
        </li>
      </ul>
    </template>
  </div>

  <template id="name">
    <span v-if="!editing">

      <!-- If we're not editing the name-->
      <!-- Display the profile's name, if it exists -->
      <!-- or anonymous if it doesn't -->
      {{ profile? profile.name : 'Anonymous' }}

      <!-- Also if the name is "editable" add an edit button -->
      <button v-if="editable" @click="editName">
        Edit Name
      </button>
    </span>

    <!-- If we're in the editing state, create something to edit the name-->
    <form v-else @submit.prevent="saveName">
      <input v-model="editText" />
      <input type="submit" value="Save Name" />
    </form>
  </template>

  <template id="like">
    <button :class="{
      'like-button-active': likeButtonActive, 
    }" @click="toggleLike">
      {{ myLikes.length? 'Unlike' : 'Like' }}
    </button>
    # of likes: {{ numLikes }}
  </template>
</body>

</html>