.message-header {
    font-weight: bold;
}

.message-header .minor-info {
    font-weight: normal;
}

@keyframes flash {
    0% {
        background-color: buttonface;
    }
    50% {
        background-color: red;
    }
    100% {
        background-color: buttonface;
    }
}

button {
    background-color: buttonface;
}

.like-button-active {
    animation-name: flash;
    animation-duration: 0.4s;
    background-color: buttonface;
    animation-timing-function: cubic-bezier(.7,.89,.68,1.17);
}

.controls ~ .controls {
    margin-left: 8px;
}

.reply-to {
    font-style: italic;
}

img {
    max-width: 50%;
}

.profile-picture {
    max-width: 30px;
    max-height: 30px;
    aspect-ratio: 1/1;
    border-radius: 50%;

    transition-duration: 0.4s;
}

label ~ .profile-picture {
    margin-left: 8px;
}

.profile-picture + span {
    margin-left: 8px;
}

.profile-picture:hover {
    transform: scale(2);
}

.edit-message {
    animation-name: pop-up;
    animation-duration: 0.4s;
    transform-origin: left;
}

@keyframes pop-up {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.is-edited {
    animation: border-flash 2s ease-in-out;
    border-radius: 2%;
}

@keyframes border-flash {
    0% {
        border: none;
    }
    50% {
        border: 1px red solid;
    }
    100% {
        border: none;
    }
}

li {
    padding-left: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
}

button:not(:disabled) {
    animation: ready 0.4s;
}

@keyframes ready {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.25);

    }
    100% {
        transform: scale(1);
    }
}