.message-header {
    font-weight: bold;
}

.message-header .minor-info {
    font-weight: normal;
}

@keyframes flash {
    0% {
        background-color: buttonface;
    }
    50% {
        background-color: red;
    }
    100% {
        background-color: buttonface;
    }
}

button {
    background-color: buttonface;
}

.like-button-active {
    animation-name: flash;
    animation-duration: 0.4s;
    background-color: buttonface;
    animation-timing-function: cubic-bezier(.7,.89,.68,1.17);
}

.controls ~ .controls {
    margin-left: 8px;
}

.reply-to {
    font-style: italic;
}

img {
    max-width: 50%;
}

.profile-picture {
    max-width: 30px;
    max-height: 30px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

label ~ .profile-picture {
    margin-left: 8px;
}

.profile-picture + span {
    margin-left: 8px;
}